# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env
.venv

# PyTorch
*.pth
*.pt
*.ckpt

# Project specifics
datasets/
checkpoints/
!datasets/.gitkeep
tools/sanity_check*.png
logs/
.vscode/
.idea/
old_results/
presentation_images
tools/run_experiments.ps1
PRESENTATION.md
docs/

# Text files
*.txt
